/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable font-family-name-quotes */

@font-face {
  font-family: "Lato";
  src: url("./assets//fonts/Lato-Regular.ttf"); /* IE9 Compat Modes */
}

.app {
  font-family: "Lato", sans-serif;
  cursor: default;
  height: 100vh;
  grid-template-columns: 1.2fr 4fr;
  grid-template-rows: 1fr 10fr;
  display: grid;
  grid-template-areas: "leftBar header" "leftBar main";
  grid-gap: 1rem;
  background-color: #fafcfe;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #d3d8dd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5aabf3;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #458dcc;
}

.left-bar ul,
.left-bar li {
  margin: 2rem 0;
  padding: 0;
  list-style: none;
  text-transform: capitalize;
  color: #47423d;
}

.left-bar {
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  grid-area: leftBar;
  background-color: #f3f9fe;
  flex-direction: column;
  text-align: left;
}

.left-bar h1 {
  font-size: 1.5rem;
  margin: 0;
  color: #5aabf3;
}

.left-bar h2 {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  color: #47423d;
  line-height: 2;
}

.left-bar .categories {
  margin-top: 4rem;
  color: #47423d;
  font-size: 1rem;
  line-height: 1.5;
  transition: all 0.2s ease-in;
}

.left-bar .categories li:hover {
  cursor: pointer;
}

.left-bar .categories li.active {
  position: relative;
  font-weight: 700;
}

.left-bar .categories li.active::before {
  content: "";
  border-left: 3px #5aabf3 solid;
  position: absolute;
  left: -10px;
  top: 4px;
  height: 1rem;
  display: block;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding: 2rem 2.5rem 1rem;
}

.header .search-input {
  position: relative;
  display: flex;
}

.header .search-icon {
  display: grid;
  cursor: pointer;
  place-items: center;
}

.cart-icon svg {
  fill: #5aabf3;
}

.header .search-icon svg {
  position: absolute;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  fill: #747476;
}

.header input {
  padding: 0.6rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px #b3b3b3 solid;
  outline: none;
  background: transparent;
  width: 18rem;
}

.cart-icon {
  position: relative;
  cursor: pointer;
}

.cart-icon span {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #47426d;
  color: #fafcfe;
  padding: 1px;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  font-size: 11px;
  text-align: center;
  transform: translate(0.6rem, -1.6rem);
  font-weight: 600;
}

.cart {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 50%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.cart.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.cart.exit {
  opacity: 0;
}

.cart-content {
  width: 25rem;
  height: 100vh;
  background-color: #fafcfe;
  transition: all 0.3s ease-in-out;
  transform: translateX(26rem);
}

.cart.enter-done .cart-content {
  transform: translateX(0);
}

.cart.exit .cart-content {
  transform: translateX(26rem);
}

.cart-body .not-found-title {
  color: #47423d;
}

.cart-header,
.cart-footer {
  display: flex;
  padding: 0 1.5rem;
  height: 4.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.cart-title {
  margin: 0;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #47423d;
}

.cart-header .cart-close {
  cursor: pointer;
  align-self: center;
}

.cart-header .cart-close svg {
  width: 1.1rem;
}

.not-found {
  width: 100%;
  height: calc(100vh - 10rem);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-body {
  border-top: 1px solid #eee;
  height: calc(100vh - 10rem);
  overflow: auto;
}

.cart-items-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.cart-items-wrapper.has-shadow::before {
  background-image:
    linear-gradient(
      0deg,
      rgb(250 252 254 / 0%),
      rgb(250 252 254 / 20%) 20%,
      rgb(250 252 254 / 40%) 40%,
      rgb(250 252 254 / 60%) 60%,
      rgb(250 252 254 / 80%) 80%,
      #fafcfe
    );
  top: calc(4.5rem + 1px);
  width: 100%;
  height: 3rem;
  content: "";
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: fixed;
  transition: 0.25s ease-in-out;
  z-index: 2;
}

.cart-items-wrapper.has-shadow::after {
  background-image:
    linear-gradient(
      180deg,
      rgb(250 252 254 / 0%),
      rgb(250 252 254 / 20%) 20%,
      rgb(250 252 254 / 40%) 40%,
      rgb(250 252 254 / 60%) 60%,
      rgb(250 252 254 / 80%) 80%,
      #fafcfe
    );
  bottom: 5.4rem;
  width: 100%;
  height: 3rem;
  content: "";
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: fixed;
  transition: 0.25s ease-in-out;
  z-index: 2;
}

.cart-item-container {
  width: calc(100% - 4rem);
  height: 8rem;
  display: flex;
  gap: 1rem;
  padding: 2rem;
}

.cart-item-container:not(:first-child) {
  border-top: 1px #eee solid;
}

.cart-item-cover {
  background-position: center;
  background-size: cover;
  width: 10rem;
  height: 8rem;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 0;
}

.cart-item-title {
  display: block;
  font-size: 1rem;
  margin: 0;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 1.5;
}

.cart-item-price {
  margin: 0;
  padding-top: 0.25rem;
  flex-grow: 1;
  font-size: 0.8rem;
  color: #999;
}

.cart-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}

.cart-item-footer h4 {
  font-size: 1rem;
  font-weight: 500;
  color: #47423d;
}

.cart-item-action {
  display: inline-block;
  background-color: #333;
  border-radius: 7px;
  color: #f3f9fe;
  box-shadow: 0 5px 10px rgb(0 0 0 / 16%);
  width: 7.5rem;
  height: 2rem;
}

.cart-item-action button {
  background: transparent;
  color: #f3f9fe;
  border: none;
  width: 33%;
  height: 2rem;
  cursor: pointer;
  outline: none;
  font-size: 1.5rem;
}

.cart-item-action button:hover {
  background: #464747;
}

.cart-item-action button:first-child {
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.cart-item-action button:last-child {
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

.cart-item-action span {
  display: inline-block;
  text-align: center;
  width: 34%;
  height: 2rem;
  line-height: 2;
  vertical-align: bottom;
}

.cart-footer {
  padding-top: 0;
}

.cart-footer .cart-checkout {
  width: 100%;
  height: 3.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 0.9rem;
  border-radius: 7px;
  border: none;
  color: #fafcfe;
  background: #333;
  cursor: pointer;
  box-shadow: 0 5px 10px rgb(0 0 0 / 16%);
}

.cart-footer .cart-checkout:disabled,
.cart-footer .cart-checkout:hover {
  background: #464747;
}

.cart-price {
  position: relative;
  line-height: 1.7;
  padding-left: 1rem;
}

.cart-label {
  flex-grow: 1;
  text-align: center;
}

.cart-price::before {
  content: "";
  position: absolute;
  border-left: 1px #eee solid;
  left: 0;
  bottom: 0;
  top: 0;
}

.main {
  grid-area: main;
  padding: 5rem 1rem 4rem;
  overflow: auto;
}

.main ul {
  width: 100%;
  display: flex;
  gap: 2rem 1rem;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.main .product-card {
  position: relative;
  width: calc(25% - 1rem);
  height: 28rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: #0e4b821a 0 0.8rem 1.5rem 0;
  transition: all 0.2s ease-in;
  list-style: none;
  transform: translate(0, 0);
}

.main .product-card:hover {
  transform: scale(1.05);

  /*   margin-left: 0.25rem;
  margin-right: 0.25rem; */
}

.main .product-card .product-cover {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 19rem;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  cursor: pointer;
}

.main .product-card .product-details {
  transform: translateY(-2rem);
  padding: 0 1rem;
}

.main .product-card .product-price {
  background-color: #5aabf3;
  width: fit-content;
  color: #fafcfe;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.main .product-card .product-name {
  color: #333;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 0.5rem;
  word-spacing: 2px;
  font-size: 14px;
}

.main .product-card .product-description {
  color: #adb6c2;
  margin: 0;
  padding: 0;
}

.main .product-card .product-add-to-cart {
  background: transparent;
  border: none;
  color: #5aabf3;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  line-height: 2;
}

.main .product-card .product-footer {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
  position: absolute;
  width: calc(100% - 2rem);
  bottom: 0.8rem;
}

.main .product-card .product-footer svg {
  fill: #5aabf3;
  cursor: pointer;
}
